body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container {
  display: flex;
  justify-content: flex-start; /* Align items to the start (left) */
  align-items: center; /* Align items in the center vertically */
  margin-bottom: 20px;
}

.autocomplete {
  position: relative;
  width: 60%;
}

.autocomplete-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.autocomplete-list li {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-list li:hover {
  background-color: #eee;
}

.search-container input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-container {
  display: flex;
  align-items: center;
  margin-left: 10px; /* Adjust the margin to move filters closer to the search bar */
}

.filter-dropdown {
  position: relative;
  margin-left: 10px;
}

.filter-dropdown button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  cursor: pointer;
}

.filter-dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
  width: 200px; /* Adjusted width to accommodate longer words */
}

.filter-dropdown button:focus + .dropdown-content,
.filter-dropdown button:hover + .dropdown-content,
.filter-dropdown .dropdown-content:hover {
  display: block;
}

.filter-dropdown .dropdown-content label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.filter-dropdown .dropdown-content span {
  font-size: 16px;
  color: #ffcc00;
  margin-right: 2px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid #ddd; /* Add border to create a box */
  border-radius: 4px; /* Optional: add border-radius for rounded corners */
  padding: 10px;
  margin-bottom: 10px; /* Add margin between boxes */
  display: flex;
  justify-content: space-between; /* Adjust to align items to the ends */
  align-items: center; /* Align items in the center vertically */
}

li h3 {
  margin: 0;
}

li p {
  margin: 5px 0 0;
}

.rating-stars {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.rating-stars span {
  font-size: 20px;
  color: #ffcc00;
  margin-right: 5px;
}
